###############################################################
#
#	Application controller configuration file
#
#   To ad an action use this scheme:
#		<actionName> <classname>
#   For example:
# CrearCliente CommandCrearCliente
#
###############################################################
# Clientes
clientesListado negocio.controlador.clientes.CommandClienteListado
clientesCrear negocio.controlador.clientes.CommandClienteCrear
clientesConsultar negocio.controlador.clientes.CommandClienteConsultar
clientesBorrar negocio.controlador.clientes.CommandClienteBorrar
clientesEditar negocio.controlador.clientes.CommandClienteEditar
clientesReactivar negocio.controlador.clientes.CommandClienteReactivar
# Proveedores
proveedoresListado negocio.controlador.proveedores.CommandProveedorListado
proveedoresCrear negocio.controlador.proveedores.CommandProveedorCrear
proveedoresConsultar negocio.controlador.proveedores.CommandProveedorConsultar
proveedoresBorrar negocio.controlador.proveedores.CommandProveedorBorrar
proveedoresEditar negocio.controlador.proveedores.CommandProveedorEditar
proveedoresReactivar negocio.controlador.proveedores.CommandProveedorReactivar
# Marcas
marcasListado negocio.controlador.marcas.CommandMarcaListado
marcasCrear negocio.controlador.marcas.CommandMarcaCrear
marcasConsultar negocio.controlador.marcas.CommandMarcaConsultar
marcasBorrar negocio.controlador.marcas.CommandMarcaBorrar
marcasEditar negocio.controlador.marcas.CommandMarcaEditar
marcasReactivar negocio.controlador.marcas.CommandMarcaReactivar
marcasListadoProductos negocio.controlador.marcas.CommandMarcaListadoProductos
# Productos
productosListado negocio.controlador.productos.CommandProductoListado
productosCrear negocio.controlador.productos.CommandProductoCrear
productosConsultar negocio.controlador.productos.CommandProductoConsultar
productosBorrar negocio.controlador.productos.CommandProductoBorrar
productosEditar negocio.controlador.productos.CommandProductoEditar
productosListaSuministros negocio.controlador.productos.CommandProductoListaSuministros
productosCrearSuministro negocio.controlador.productos.CommandProductoCrearSuministro
productosBorrarSuministro negocio.controlador.productos.CommandProductoBorrarSuministro
# Ventas
ventasListado negocio.controlador.ventas.CommandVentaListado
ventasConsultar negocio.controlador.ventas.CommandVentaConsultar
ventasAbrir negocio.controlador.ventas.CommandVentaAbrir
ventasCerrar negocio.controlador.ventas.CommandVentaCerrar
ventasAgregarProducto negocio.controlador.ventas.CommandVentaAgregarProducto
ventasQuitarProducto negocio.controlador.ventas.CommandVentaQuitarProducto
ventasBorrar negocio.controlador.ventas.CommandVentaBorrar
ventasDevolucion negocio.controlador.ventas.CommandVentaDevolucion
# Pedidos
pedidosLista negocio.controlador.pedidos.CommandPedidoLista
pedidosConsultar negocio.controlador.pedidos.CommandPedidoConsultar
pedidosCrear negocio.controlador.pedidos.CommandPedidoCrear
pedidosAnular negocio.controlador.pedidos.CommandPedidoAnular
pedidosCompletar negocio.controlador.pedidos.CommandPedidoCompletar
pedidosBorrar negocio.controlador.pedidos.CommandPedidoBorrar
pedidosConsProdProv negocio.controlador.pedidos.CommandPedidoConsProdProv
# Empleados
empleadosListado negocio.controlador.empleados.CommandEmpleadoConsultarLista
empleadosConsultar negocio.controlador.empleados.CommandEmpleadoConsultar
empleadosCrear negocio.controlador.empleados.CommandEmpleadoCrear
empleadosBorrar negocio.controlador.empleados.CommandEmpleadoBorrar
empleadosEditar negocio.controlador.empleados.CommandEmpleadoEditar
empleadosSalario negocio.controlador.empleados.CommandEmpleadoCalcularSueldo
# Departamentos
departamentosListado negocio.controlador.departamentos.CommandDepartamentoConsultarLista
departamentosConsultar negocio.controlador.departamentos.CommandDepartamentoConsultar 
departamentosCrear negocio.controlador.departamentos.CommandDepartamentoCrear
departamentosBorrar negocio.controlador.departamentos.CommandDepartamentoBorrar
departamentosEditar negocio.controlador.departamentos.CommandDepartamentoEditar
departamentosSalario negocio.controlador.departamentos.CommandDepartamentoSalario
# Proyectos
proyectosListado negocio.controlador.proyectos.CommandProyectoConsultarLista
proyectosConsultar negocio.controlador.proyectos.CommandProyectoConsultar
proyectosCrear negocio.controlador.proyectos.CommandProyectoCrear
proyectosBorrar negocio.controlador.proyectos.CommandProyectoBorrar
proyectosEditar negocio.controlador.proyectos.CommandProyectoEditar
# Util
regenerar negocio.controlador.CommandRegenerar