###############################################################
#
#	Application controller configuration file
#
#   To ad an action use this scheme:
#		<actionName> <classname>
#   For example:
# CrearCliente CommandCrearCliente
#
###############################################################
# Clientes
clientesListado negocio.controlador.command.clientes.CommandClienteListado
clientesCrear negocio.controlador.command.clientes.CommandClienteCrear
clientesConsultar negocio.controlador.command.clientes.CommandClienteConsultar
clientesBorrar negocio.controlador.command.clientes.CommandClienteBorrar
clientesEditar negocio.controlador.command.clientes.CommandClienteEditar
clientesReactivar negocio.controlador.command.clientes.CommandClienteReactivar
# Proveedores
proveedoresListado negocio.controlador.command.proveedores.CommandProveedorListado
proveedoresCrear negocio.controlador.command.proveedores.CommandProveedorCrear
proveedoresConsultar negocio.controlador.command.proveedores.CommandProveedorConsultar
proveedoresBorrar negocio.controlador.command.proveedores.CommandProveedorBorrar
proveedoresEditar negocio.controlador.command.proveedores.CommandProveedorEditar
proveedoresReactivar negocio.controlador.command.proveedores.CommandProveedorReactivar
# Marcas
marcasListado negocio.controlador.command.marcas.CommandMarcaListado
marcasCrear negocio.controlador.command.marcas.CommandMarcaCrear
marcasConsultar negocio.controlador.command.marcas.CommandMarcaConsultar
marcasBorrar negocio.controlador.command.marcas.CommandMarcaBorrar
marcasEditar negocio.controlador.command.marcas.CommandMarcaEditar
marcasReactivar negocio.controlador.command.marcas.CommandMarcaReactivar
marcasListadoProductos negocio.controlador.command.marcas.CommandMarcaListadoProductos
# Productos
productosListado negocio.controlador.command.productos.CommandProductoListado
productosCrear negocio.controlador.command.productos.CommandProductoCrear
productosConsultar negocio.controlador.command.productos.CommandProductoConsultar
productosBorrar negocio.controlador.command.productos.CommandProductoBorrar
productosEditar negocio.controlador.command.productos.CommandProductoEditar
productosListaSuministros negocio.controlador.command.productos.CommandProductoListaSuministros
productosCrearSuministro negocio.controlador.command.productos.CommandProductoCrearSuministro
productosBorrarSuministro negocio.controlador.command.productos.CommandProductoBorrarSuministro
productosMasVendidos negocio.controlador.command.productos.CommandQueryProductosMasVendidos
# Ventas
ventasListado negocio.controlador.command.ventas.CommandVentaListado
ventasConsultar negocio.controlador.command.ventas.CommandVentaConsultar
ventasAbrir negocio.controlador.command.ventas.CommandVentaAbrir
ventasCerrar negocio.controlador.command.ventas.CommandVentaCerrar
ventasAgregarProducto negocio.controlador.command.ventas.CommandVentaAgregarProducto
ventasQuitarProducto negocio.controlador.command.ventas.CommandVentaQuitarProducto
ventasBorrar negocio.controlador.command.ventas.CommandVentaBorrar
ventasDevolucion negocio.controlador.command.ventas.CommandVentaDevolucion
ventasMesesMasBeneficio negocio.controlador.command.ventas.CommandQueryVentasMesesMasBeneficio
# Pedidos
pedidosLista negocio.controlador.command.pedidos.CommandPedidoLista
pedidosConsultar negocio.controlador.command.pedidos.CommandPedidoConsultar
pedidosCrear negocio.controlador.command.pedidos.CommandPedidoCrear
pedidosAnular negocio.controlador.command.pedidos.CommandPedidoAnular
pedidosCompletar negocio.controlador.command.pedidos.CommandPedidoCompletar
pedidosBorrar negocio.controlador.command.pedidos.CommandPedidoBorrar
pedidosConsProdProv negocio.controlador.command.pedidos.CommandPedidoConsProdProv
# Empleados
empleadosListado negocio.controlador.command.empleados.CommandEmpleadoConsultarLista
empleadosConsultar negocio.controlador.command.empleados.CommandEmpleadoConsultar
empleadosCrear negocio.controlador.command.empleados.CommandEmpleadoCrear
empleadosBorrar negocio.controlador.command.empleados.CommandEmpleadoBorrar
empleadosEditar negocio.controlador.command.empleados.CommandEmpleadoEditar
empleadosSalario negocio.controlador.command.empleados.CommandEmpleadoCalcularSueldo
# Departamentos
departamentosListado negocio.controlador.command.departamentos.CommandDepartamentoConsultarLista
departamentosConsultar negocio.controlador.command.departamentos.CommandDepartamentoConsultar 
departamentosCrear negocio.controlador.command.departamentos.CommandDepartamentoCrear
departamentosBorrar negocio.controlador.command.departamentos.CommandDepartamentoBorrar
departamentosEditar negocio.controlador.command.departamentos.CommandDepartamentoEditar
departamentosSalario negocio.controlador.command.departamentos.CommandDepartamentoSalario
# Proyectos
proyectosListado negocio.controlador.command.proyectos.CommandProyectoConsultarLista
proyectosConsultar negocio.controlador.command.proyectos.CommandProyectoConsultar
proyectosCrear negocio.controlador.command.proyectos.CommandProyectoCrear
proyectosBorrar negocio.controlador.command.proyectos.CommandProyectoBorrar
proyectosEditar negocio.controlador.command.proyectos.CommandProyectoEditar
# Util
regenerar negocio.controlador.command.CommandRegenerar